*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

body p{
    color: #696969;
}

.full-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9%;
}

.full-screen:last-child{
    margin: 2% 0 2% 0;
}

.first-part-bg{
    background-image: url('img/top-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    max-width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-part-left{
    flex-basis:45% ;
}

.first-part-right{
    flex-basis:45% ;
}

.first-part-right > img{
    width: 100%;
}

.first-part-left h1{
    font-size: 3em;
    margin: 8% 0 0 0;
}

.first-part-left h3{
    margin: 8% 0 3% 0;   
}

.name-color{
    color: orange;
}

p{
    text-align: justify;
}

.first-part-left > a{
    display: inline-block;
    background: linear-gradient( 45deg, lightsalmon, tomato);
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 2% 8%;
    border-radius: 5px;
    margin: 4% 0 0 0;
    font-weight: 700;
}
/********* Top Section Ends here.**********/

/********* Second Section start here.**********/
.second-part-bg{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.second-part-left{
    flex-basis:45% ;
}

.second-part-right{
    flex-basis:45% ;
}

.second-part-left > img{
    width: 100%;
}

.second-part-right h2{
    font-size: 2.5em;
    margin: 8% 0 0 0;
}

.second-part-right h3{
    margin: 6% 0 0 0;
}

.second-part-right > a{
    display: inline-block;
    background: linear-gradient( 45deg, lightsalmon, tomato);
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 2% 8%;
    border-radius: 5px;
    margin: 4% 0 0 0;
    font-weight: 700;

}
/********* Second Section ends here.**********/

/********* Third Section start here.**********/
.third-part-bg{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.third-part > h2{
    font-size: 2.5em;
    margin: 5% 0 4% 0;
}

.third-part-content-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.third-part-content{
    flex-basis:43.5% ;
    padding: 3% 1% 8% 3%;
    box-shadow: 5px 7px 40px grey;
    
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.tpcl{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

.third-part-content h2{
    font-size: 2.3em;
}

.third-part-content h3{
    color: #ffa500;
    margin: 5% 0 3% 0;
}

/********* Footer Section start here.**********/

/* footer{
    margin: 2% 0 2% 0;
} */


































































