*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

body p{
    color: #696969;
}

.full-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9%;
}

.full-screen:last-child{
    margin-bottom: 0;
}

.first-part-bg{
    background-image: url('img/top-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    max-width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-part-left{
    flex-basis:45% ;
}

.first-part-right{
    flex-basis:45% ;
}

.first-part-right > img{
    width: 100%;
}

.first-part-left h1{
    font-size: 3em;
    margin: 8% 0 0 0;
}

.first-part-left h3{
    margin: 8% 0 3% 0;   
}

.name-color{
    color: orange;
}

/* .first-part-left > p{
    color: #696969;
} */

.first-part-left > a{
    display: inline-block;
    background: linear-gradient( 45deg, lightsalmon, tomato);
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 2% 8%;
    border-radius: 5px;
    margin: 4% 0 0 0;
    font-weight: 700;
}
/********* Top Section Ends here.**********/

/********* Second Section start here.**********/


.second-part-left{
    flex-basis:45% ;
}

.second-part-right{
    flex-basis:45% ;
}

.second-part-left > img{
    width: 100%;
}

.second-part-right h2{
    font-size: 2.5em;
    margin: 8% 0 0 0;
}

.second-part-right h3{
    margin: 6% 0 0 0;
}

.second-part-right > a{
    display: inline-block;
    background: linear-gradient( 45deg, lightsalmon, tomato);
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 2% 8%;
    border-radius: 5px;
    margin: 4% 0 0 0;
    font-weight: 700;

}




















































































